<a href="https://colab.research.google.com/github/Grandmaster12/DS4SG-Project-Sean/blob/main/Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#importing libraries 
import numpy as np 
import matplotlib as plt 
import pandas as pd

In [2]:
#importing the data
url = 'https://raw.githubusercontent.com/zeineb-ouerghi/DS4SG-Project-/main/Data/Mental-Health-Twitter.csv'
raw = pd.read_csv(url)
raw.head()

,Unnamed: 0,post_id,post_created,post_text,user_id,followers,friends,favourites,statuses,retweets,label
0,0,637894677824413696,Sun Aug 30 07:48:37 +0000 2015,It's just over 2 years since I was diagnosed w...,1013187241,84,211,251,837,0,1
1,1,637890384576778240,Sun Aug 30 07:31:33 +0000 2015,"It's Sunday, I need a break, so I'm planning t...",1013187241,84,211,251,837,1,1
2,2,637749345908051968,Sat Aug 29 22:11:07 +0000 2015,Awake but tired. I need to sleep but my brain ...,1013187241,84,211,251,837,0,1
3,3,637696421077123073,Sat Aug 29 18:40:49 +0000 2015,RT @SewHQ: #Retro bears make perfect gifts and...,1013187241,84,211,251,837,2,1
4,4,637696327485366272,Sat Aug 29 18:40:26 +0000 2015,It’s hard to say whether packing lists are mak...,1013187241,84,211,251,837,1,1

# Variable information:
**post_id** : the identification number that corresponds to the post, coded as an integer, taken from the tweet.  
**post_created** : the date and time when the tweet was posted, stored as a string (we will convert the entire column to be in datetime format), taken from the tweets.  
**post_text** : the post contents, stored as a string, gathered from the original tweets.  
**user_id** : the ID of the user, stored as an integer, taken from the tweet information.  
**followers**: the number of followers of the user, stored as an integer, taken from their profile.  
f**riends**: the number of the friends of the user, also stored as an integer, taken from their profiles.   
**favourites**: the number of "likes" the post has, stored as an integer, taken from the tweet itself.  
**statuses**: the number of total tweets they have, stored as an integer, taken from the users' profiles.  
**retweets**: the number of retweets the post had, stored as an integer, also taken from the tweet data itself. 

The number of null values will be determined in the next code cell:

In [3]:
# checking the proportion of null-values in each column
percent_null = [(i, raw[i].isnull().mean()) for i in raw]
percents = pd.DataFrame(percent_null, columns=("Column", "% null values"))
display(percents)

          Column  % null values
0     Unnamed: 0            0.0
1        post_id            0.0
2   post_created            0.0
3      post_text            0.0
4        user_id            0.0
5      followers            0.0
6        friends            0.0
7     favourites            0.0
8       statuses            0.0
9       retweets            0.0
10         label            0.0

In [4]:
#Description of the data 
raw.describe()

,Unnamed: 0,post_id,user_id,followers,friends,favourites,statuses,retweets,label
count,20000.000000,2.000000e+04,2.000000e+04,20000.000000,20000.000000,20000.000000,2.000000e+04,20000.000000,20000.000000
mean,9999.500000,6.874728e+17,3.548623e+16,900.483950,782.428750,6398.235550,4.439442e+04,1437.927300,0.500000
std,5773.647028,1.708396e+17,1.606083e+17,1899.913961,1834.817945,8393.072914,1.407785e+05,15119.665118,0.500013
min,0.000000,3.555966e+09,1.472438e+07,0.000000,0.000000,0.000000,3.000000e+00,0.000000,0.000000
25%,4999.750000,5.931686e+17,3.242944e+08,177.000000,211.000000,243.000000,5.129000e+03,0.000000,0.000000
50%,9999.500000,7.637400e+17,1.052122e+09,476.000000,561.000000,2752.000000,1.325100e+04,0.000000,0.500000
75%,14999.250000,8.153124e+17,2.285923e+09,1197.000000,701.000000,8229.000000,5.289200e+04,1.000000,1.000000
max,19999.000000,8.194574e+17,7.631825e+17,28614.000000,28514.000000,39008.000000,1.063601e+06,839540.000000,1.000000

In [5]:
#Information
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    20000 non-null  int64
 1   post_id       20000 non-null  int64
 2   post_created  20000 non-null  object
 3   post_text     20000 non-null  object
 4   user_id       20000 non-null  int64
 5   followers     20000 non-null  int64
 6   friends       20000 non-null  int64
 7   favourites    20000 non-null  int64
 8   statuses      20000 non-null  int64
 9   retweets      20000 non-null  int64
 10  label         20000 non-null  int64
dtypes: int64(9), object(2)
memory usage: 1.7+ MB